<div>
    <h3>Sign up here</h3>

    <form action="/auth/signup" method="POST">
        <label for="username">Username:</label>
        {{!-- <input type="text" name="username" required="true"> --}}
        <input type="text" name="username">
        <br>
        <label for="password">Password:</label>
        {{!-- <input type="password" name="password"> --}}
        <input type="password" name="password">
        <br>
        <p style="color: red">{{errorMessage}}</p>
        <button>Sign up</button>
    </form>
</div>